body {
    background-color: rgb(63, 63, 63);
    color: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 4em;
}

h1, h2 {
    text-align: center;
}

.calendar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 14vh;
    
    box-shadow: 0px 2px 10px black;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.weekday {
    color: lavender;
    padding: 5px 0;
}

.calendar-day {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.add-event-button {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 0.1s ease-in-out;
    border: none;
    flex: 1;
    flex-basis: 50px;
}

.calendar-event {
    border-radius:4px;
    line-height: 1.5;
    border: 1px solid white;
    margin: 3px 5px;
}

.add-event-button:hover {
    background-color: rgba(255,255,255,0.1);
}

.add-event-button:active {
    background-color: rgba(255,255,255,0.2);
}

button:hover {
    cursor: pointer;
}