body {
    background-color: rgb(63, 63, 63);
    color: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 4em;
}

h1, h2 {
    text-align: center;
}

.calendar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 14vh;
}

.calendar-day {
    border: 1px solid grey;
    min-height: 20%;
}